<%= image_tag @album.album_cover.variant(resize_to_fill: [300, 300, gravity: 'north'])  %>
<h3>Album: <%= @album.title %></h3>
<h4>Artist: <%= @album.band %></h4>
<h4>Genre: <%= @album.genre.name %></h4>
<h5>Description: <%= @album.description %></h5>
<h5>Year: <%= @album.year %></h5>


<p><%= render @album.reviews %></p>

<%= button_to "Add Review", new_album_review_path(@album) %><br/>

<%= button_to "Home", root_path %><br/>

<% if user_signed_in? %>

<% if @album.user_id == current_user.id %>
	<%= button_to "Edit Album", edit_album_path(@album) %><br/>
	<%= button_to "Delete Album", album_path(@album), method: :delete, data: { confirm: "Delete #{@album.title} album"} %>
<% end %>

<% end %>

