<%= simple_form_for([@album, @album.reviews.build]) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% @album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<div id="rating-form">

	</div>
	<%= f.input :rating %>
	<%= f.input :comment %>
	<%= f.button :submit %>
<% end %>

